/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins&display=swap');

/* google icon */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .left {
        position: relative;
    }
    .left:after {
        content:'';
        position: absolute;
        width: 5px;
        height: 200px;
        background-color: white;
        rotate: -45deg;
        right: 20px;
    }

    .left:before {
        content:'';
        position: absolute;
        width: 5px;
        height: 200px;
        background-color: white;
        rotate: -45deg;
        right: 5px;
    }

    /* .right {
        position: relative;
    }
    .right:after {
        content:'';
        position: absolute;
        width: 5px;
        height: 200px;
        background-color: white;
        rotate: -45deg;
        left: 5px;
    } */

    
    .linedTtile {
        @apply flex justify-center items-center text-center gap-2 lg:gap-[18px]
    }

    .linedTtile:before, .linedTtile:after {
        content: '';
        width: 60px;
        height: 7px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        display: block;
        /* box-sizing: border-box; */
    }

    @media only screen and (min-width: 768px) {
        .linedTtile:before, .linedTtile:after {

            width: 77px;

        }
    }

    .linedTtileWhite {
        @apply justify-between
    }

    .linedTtileWhite::before,
    .linedTtileWhite::after {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }

    @media only screen and (min-width: 640px) {
        .linedTtileWhite {
            @apply justify-center
        }
    }
    @media only screen and (min-width: 1024px) {
        .linedTtileWhite {
            @apply justify-start
        }
    }


    .solutionCardLine::before {
        content: '';
        width: 60%;
        height: 2px;
        background-color: #2BDC9F;
        position: absolute;
        bottom: 3px;
        left: 50%;
        transform: translateX(-50%);
    }

    .solutionCardLine::after {
        content: '';
        width: 40%;
        height: 2px;
        background-color: #2BDC9F;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
    }

    @media only screen and (min-width: 640px) {
        .solutionCardLine::before {
            content: '';
            width: 2px;
            height: 100%;
            background-color: #2BDC9F;
            position: absolute;
            bottom: auto;
            left: auto;
            right: 2px;
            top: 50%;
            transform: translateY(-50%);
        }
    
        .solutionCardLine::after {
            content: '';
            width: 2px;
            height: 80%;
            background-color: #2BDC9F;
            position: absolute;
            bottom: auto;
            left: auto;
            right: -2px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    /* owl carosual css */
    .owl-carousel .owl-dots {
        margin: 10px 0;
    }
    @media only screen and (min-width: 768px) {
        .owl-carousel .owl-dots {
            margin: 35px 0;
        }
    }

    .owl-carousel button.owl-dot {
        display: inline-block;
        height: 12px !important;
        width: 12px !important;
        background-color: #2BDC9F !important;
        margin: 0 10px;
        border: none;
        /* border-radius: 50%; */
    }
    @media only screen and (min-width: 768px) {
        .owl-carousel button.owl-dot {
            height: 14px !important;
            width: 14px !important;
            margin: 0 15px;
        }
    }

    .owl-carousel button.owl-dot.active {
        background-color: white !important;
        border: 1px solid #2BDC9F;
    }

    .cardImg {
        width: calc(100% - 4px);
    }
    .hex-shape {
        display: flex;
    }
    .hex-shape::before {
        content: '';
        width: 50%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
    }

    /* .waveShape:after {
        content: '';
        width: 100%;
        height: 100px;
        display: block;
        background-color: #DDF9F0;
    } */

    

}