/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins&display=swap");

/* google icon */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .menu {
    @apply hidden absolute md:static top-[72px] w-full bg-primary md:bg-transparent z-[999] md:z-0 font-bold md:flex md:w-3/4 lg:w-1/2 items-center md:pl-14 text-center justify-center text-white;
  }

  .navLink {
    @apply h-full md:px-3 py-3 block lg:px-4 xl:px-8 md:py-6 rounded-md lg:hover:text-gray-100 transition-colors relative;
  }

  @media only screen and (min-width: 768px) {
    .navLink::after {
      content: "";
      width: 0;
      height: 3px;
      background-color: #fff;
      display: block;
      position: absolute;
      left: 0;
      bottom: 5px;
      z-index: 99;
      transition: 0.4s;
    }

    .navLink:hover::after {
      width: 100%;
    }
  }

  .left {
    position: relative;
  }
  .left:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 200px;
    background-color: white;
    rotate: -45deg;
    right: 20px;
  }

  .left:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 200px;
    background-color: white;
    rotate: -45deg;
    right: 5px;
  }

  /* .right {
        position: relative;
    }
    .right:after {
        content:'';
        position: absolute;
        width: 5px;
        height: 200px;
        background-color: white;
        rotate: -45deg;
        left: 5px;
    } */

  .linedTtile {
    @apply flex justify-center items-center text-center gap-2 lg:gap-[18px];
  }

  .linedTtile:before,
  .linedTtile:after {
    content: "";
    width: 60px;
    height: 7px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: block;
    /* box-sizing: border-box; */
  }

  @media only screen and (min-width: 768px) {
    .linedTtile:before,
    .linedTtile:after {
      width: 77px;
    }
  }

  .linedTtileWhite {
    @apply justify-between text-white;
  }

  .linedTtileWhite::before,
  .linedTtileWhite::after {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  @media only screen and (min-width: 640px) {
    .linedTtileWhite {
      @apply justify-center;
    }
  }
  @media only screen and (min-width: 1024px) {
    .linedTtileWhite {
      @apply justify-start;
    }
  }

  .card {
    cursor: pointer;
  }

  .cardImg {
    width: calc(100% - 4px);
  }

  .cardImg img {
    transition: .4s;
  }
  .cardImg img:hover {
    transform: scale(1.1, 1.1);
  }

  .cardDes {
    @apply absolute z-10 bottom-0 left-0 w-full h-[300px] pt-[100px] xl:pt-[134px] px-4 md:px-[27px] text-left overflow-hidden;
  }

  .cardDes::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid #00d58b;
    border-top: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
    transition: height 0.5s linear 0.5s, width 0.5s linear;
  }

  @media only screen and (min-width: 768px) {
    .card:hover .cardDes::before {
      width: 20%;
      height: 0;
      transition: height 0.5s linear, width 0.5s linear 0.5s;
    }
  }

  .solutionCardLine::before {
    content: "";
    width: 60%;
    height: 2px;
    background-color: #2bdc9f;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
  }

  .solutionCardLine::after {
    content: "";
    width: 40%;
    height: 2px;
    background-color: #2bdc9f;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media only screen and (min-width: 640px) {
    .solutionCardLine::before {
      content: "";
      width: 2px;
      height: 100%;
      background-color: #2bdc9f;
      position: absolute;
      bottom: auto;
      left: auto;
      right: 2px;
      top: 50%;
      transform: translateY(-50%);
    }

    .solutionCardLine::after {
      content: "";
      width: 2px;
      height: 80%;
      background-color: #2bdc9f;
      position: absolute;
      bottom: auto;
      left: auto;
      right: -2px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  /* owl carosual css */
  .categorySlider .owl-dots {
    margin: 10px 0;
  }
  @media only screen and (min-width: 768px) {
    .categorySlider .owl-dots {
      margin: 35px 0;
    }
  }

  .categorySlider button.owl-dot {
    display: inline-block;
    height: 12px !important;
    width: 12px !important;
    background-color: #2bdc9f !important;
    margin: 0 10px;
    border: none;
    /* border-radius: 50%; */
  }
  @media only screen and (min-width: 768px) {
    .categorySlider button.owl-dot {
      height: 14px !important;
      width: 14px !important;
      margin: 0 15px;
    }
  }

  .categorySlider button.owl-dot.active {
    background-color: white !important;
    border: 1px solid #2bdc9f;
  }

  /* .partnerSlider{
        text-align: center;
    } */

  .hex-shape {
    display: flex;
  }
  .hex-shape::before {
    content: "";
    width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
  }

  /* .waveShape:after {
        content: '';
        width: 100%;
        height: 100px;
        display: block;
        background-color: #DDF9F0;
    } */

  .borderdCircle::before,
  .borderdCircle::after {
    content: "";
    width: 240px;
    height: 240px;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
    position: absolute;
    bottom: -160px;
  }
  .borderdCircle::before {
    left: -160px;
  }
  .borderdCircle::after {
    right: -160px;
  }

  @media only screen and (min-width: 768px) {
    .borderdCircle::before,
    .borderdCircle::after {
      content: "";
      width: 296px;
      height: 296px;
      border: 3px solid white;
      border-radius: 50%;
      display: block;
      position: absolute;
      bottom: -214px;
    }
    .borderdCircle::before {
      left: -134px;
    }
    .borderdCircle::after {
      right: -134px;
    }
  }

  textarea::-webkit-resizer {
    border-width: 8px;
    border-style: solid;
    border-color: transparent #2bdc9f #2bdc9f transparent;
  }
}
